on:
  push:
    branches:
      - master
  pull_request:

name: Run tests

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-latest
    container: bioconductor/bioconductor_docker:RELEASE_3_19
    strategy:
      fail-fast: false
      matrix:
        parallel: [true, false]

    steps:
    - uses: actions/checkout@v2

    - name: Get latest CMake
      uses: lukka/get-cmake@latest

    - name: Configure the build 
      run: cmake -S . -B build 

    - name: Set directories
      run: |
        echo "R_PKG_DIR=${R_HOME}/site-library" >> $GITHUB_ENV

    - name: Restore the package directory
      uses: actions/cache@v2
      with:
        path: ${{ env.R_PKG_DIR }}
        key: preinstalled-packages

    - name: Install dependencies
      shell: Rscript {0}
      run: |
        BiocManager::install(c("DelayedArray", "Rcpp", "testthat"))

    - name: Turn off parallelization flags
      if: ${{ !matrix.parallel }}
      run: |
        cat tests/src/Makevars | grep -v "TEST_CUSTOM_PARALLEL" > .tmp
        cat .tmp
        mv .tmp tests/src/Makevars

    - name: Install the test package
      run: R CMD INSTALL tests

    - name: Run the tests
      shell: Rscript {0}
      run: |
        setwd("tests/tests/testthat")
        library(DelayedArray)
        library(testthat)
        source("setup.R")
        for (x in list.files(pattern="test")) {
            cat(x, "\n")
            testthat::test_file(x)
        }
        #testthat::test_file("testthat.R", reporter=testthat::default_reporter(), stop_on_failure=TRUE)
